<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <title>FullStack JS Todos App</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    {{> header}}
    {{{body}}}
    <script src="/javascripts/bundle.js"></script>
</body>

</html>